body {
  max-width: 100vw;
  background-color: #202b38;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  margin: 0 0 20px 11px;
  color: #ffffff;
}

form {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  padding: 60px;
  font-family: 'Courier New', Courier, monospace;
}

input, select, textarea {
  margin-bottom: 20px;
  padding: 8px;
  background: #161f27;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: #dbdbdb;
  border-radius: 5px;
}

label {
  color: #ffffff;
}

.anotacoes_textArea {
  all: unset;
  resize: none;
  border-radius: 0 0 5px 5px;
  color: #ffffff;
  padding: 15px;
  background: #161f27;
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
}

.abas {
  width: 100%;
  height: 42px;
  background: #0c151c;
  border-radius: 5px 5px 0 0;
}

.aba-forms {
  all: unset;
  width: 100px;
  margin: 0 10px 0 5px ;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
}

.aba-teste:hover {
  background-color: #040a0f;
  cursor: pointer;
}

.name {
  all: unset;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background: #161f27;
  margin: 0 0 15px 0;
  width: 100%;
  color: #ffffff;
}

.cpf, .nascimento { 
  all: unset;
  padding: 10px;
  border-radius: 5px;
  background: #161f27;
  width: 40%;
  margin: 0 0 15px 0;
  color: #ffffff;
}

.nascimento {
  margin-left: 116px;
}

.anotacoes, .descricao, .familiares {
  font-size: 20px;
  margin-bottom: 0px;
  padding-left: 15px;
  border-radius: 5px 5px 0 0;
  background-color: #0c151c;
}

.descricao {
  width: 100%;
  border-radius: 5px;
  background-color: #0c151c;
  padding: 5px;
  padding-left: 15px;
  margin-bottom: 15px;
}

.genero, .altura {
  all: unset;
  padding: 10px;
  background: #161f27;
  border-radius: 5px;
  width: 200px;
  margin: 0 0 15px 0;
  color: #ffffff;
}

.genero {
  overflow: hidden;
}

.altura {
  margin-left: 10px;
  width: 130px
}

.olhos {
  all: unset;
  padding: 10px;
  border-radius: 5px;
  background: #161f27;
  width: 190px;
  margin: 0 0 15px 10px;
  color: #ffffff;
}

.peso {
  all: unset;
  padding: 10px;
  border-radius: 5px;
  background: #161f27;
  width: 150px;
  margin: 0 0 15px 10px;
  color: #ffffff;
}

/* ----------- para desabilitar as setas do input number
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
} 
*/

.familiares {
  width: 100%; 
  background-color: #0c151c;
  padding: 5px;
  padding-left: 15px;
  
}

.maeNome , .paiNome {
  all: unset;
  padding: 10px;
  border-radius: 5px;
  background-color: #161f27;
  margin-bottom: 15px;
  width: 100%;
  color: #ffffff;
}

.maeNome {
  all: unset;
  background-color: #161f27;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  color: #ffffff;
}

.anotacoes {
  all: unset;
  width: 100%;    
  background-color: #0c151c;
  border-radius: 5px 5px 0 0 ;
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
  padding-left: 15px;
}

.butaoSalvar {
  all: unset;
  text-align: center;
  width: 100%;
  margin: 0 0 15px 0;
  font-family: 'Courier New', Courier, monospace;
  background: #0c151c;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.butaoSalvar:hover {
  background-color: #040a0f;
  cursor: pointer;
}
