body {
  max-width: 100vw;
  background-color: #202b38;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  margin: 0 0 20px 11px;
  color: #ffffff;
}

form {
  width: 900px;
  font-family: 'Courier New', Courier, monospace;
}

.tabContent-dados {
  width: 900px;
  margin-left: 250px;
  font-family: 'Courier New', Courier, monospace;
}

.tabContent-endereco {
  width: 900px;
  margin-left: 250px;
  font-family: 'Courier New', Courier, monospace;
}

.tabContent-notas {
  width: 900px;
  margin-left: 250px;
  margin-top: 25px;
  font-family: 'Courier New', Courier, monospace;
}

input, select, textarea {
  margin-bottom: 20px;
  padding: 8px;
  background: #161f27;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: #dbdbdb;
  border-radius: 5px;
}

label {
  color: #ffffff;
}

/* ------------------- ABAS --------------- */ 

.aba {
  width: 900px;
  margin-left: 50px;
}

.abas {
  width: 100%;
  margin-left: 250px;
  margin-top: 40px;
  height: 42px;
  background: #0c151c;
  border-radius: 5px 5px 0 0;
}

.aba-dados {
  all: unset;
  width: 200px;
  border-radius: 5px 0 0 0;
  padding: 10px 20px 10px 65px;
  color: #ffffff;
  font-size: 20px;
}

.aba-endereco {
  all: unset;
  width: 130px;
  padding: 10px 20px 10px 50px;
  color: #ffffff;
  font-size: 20px;
}

.aba-notas {
  all: unset;
  width: 150px;
  padding: 10px 0 10px 45px;
  color: #ffffff;
  font-size: 20px;
}

.aba-empresas {
  all: unset;
  width: 150px;
  padding: 10px 10px 10px 59px;
  color: #ffffff;
  font-size: 20px;
}

/* --------- ABAS (Cursor: Pointer) ----------- */ 

.aba-dados:hover {
  background-color: #040a0f;
  cursor: pointer;
}

.aba-endereco:hover {
  background-color: #040a0f;
  cursor: pointer;
}

.aba-notas:hover {
  background-color: #040a0f;
  cursor: pointer;
}

.aba-empresas:hover {
  background-color: #040a0f;
  cursor: pointer;
}

/* -------------- Inputs ---------------*/ 

.name {
  all: unset;
  padding: 10px;
  width: 880px;;
  border-radius: 0 0 5px 5px;
  background: #161f27;
  margin: 0 0 10px 0;
  color: #ffffff;
}

.cpf, .nascimento { 
  all: unset;
  padding: 10px;
  border-radius: 5px;
  background: #161f27;
  margin: 0 0 20px 0;
  color: #ffffff;
}

.nacionalidade {
  all: unset;
  padding: 10px;
  border-radius: 5px;
  background: #161f27;
  margin: 0 0 15px 10px;
  color: #ffffff;
}

.cpf {
  width: 220px;
}

.nascimento {
 width: 300px;
 margin-left: 10px;
}

.nacionalidade {
  width: 300px;
}

.descricao, .familiares, .contato {
  font-size: 20px;
  width: 900px;
  padding: 10px;
  margin-bottom: 0px;
  padding-left: 15px;
  border-radius: 5px 5px 0 0;
  background-color: #0c151c;
}

.contato {
  border-radius: 5px;
  padding-right: 801px;
  margin-bottom: 10px;
  background-color: #0c151c;
}

.email {
  all: unset;
  background: #161f27;
  border-radius: 5px;
  width: 500px;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.telefone {
  all: unset;
  background: #161f27;
  width: 350px;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  color: #ffffff;
}

.descricao {
  border-radius: 5px;
  background-color: #0c151c;
  padding-right: 777px;
  margin: 30px 0;
}

.genero, .altura {
  all: unset;
  background: #161f27;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 20px;
}

.genero {
  overflow: hidden;
  padding: 10px;
  width: 200px;
  margin-bottom: 20px;
}

.altura {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  width: 100px;
}

.peso {
  all: unset;
  border-radius: 5px;
  background: #161f27;
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  color: #ffffff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
} 

.olhos {
  all: unset;
  width: 290px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background: #161f27;
  color: #ffffff;
}

.familiares {
  background-color: #0c151c;
  padding-right: 765px;
}

.maeNome , .paiNome {
  all: unset;
  width: 880px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #161f27;
  color: #ffffff;
}

.maeNome {
  all: unset;
  width: 880px;
  padding: 10px;
  margin-top: 11px;
  border-radius: 0 0 5px 5px ;
  background-color: #161f27;
  color: #ffffff;
}

.logradouro {
  all: unset;
  width: 600px;
  margin: 10px 10px 10px 0 ;
  padding: 10px;
  border-radius: 5px;
  background-color: #161f27;
  color: #ffffff;
}

.numeroEnd {
  all: unset;
  padding: 10px;
  background-color: #161f27;
  color: #ffffff;
  border-radius: 5px;
}

.bairro {
  all: unset;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  background-color: #161f27;
  color: #ffffff;
}

.cidade {
  all: unset;
  width: 250px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #161f27;
  color: #ffffff;
}

.estadoUf {
  all: unset;
  width: 100px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #161f27;
  color: #ffffff;
}

.cep {
  all: unset;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #161f27;
  color: #ffffff;
}

.anotacoes {
  all: unset;   
  padding: 10px;
  padding-left: 15px;
  padding-right: 777px;
  background-color: #0c151c;
  border-radius: 5px 5px 0 0 ;
  color: #ffffff;
  font-size: 20px;
}

.anotacoes_textArea {
  all: unset;
  resize: none;
  border-radius: 0 0 5px 5px;
  color: #ffffff;
  padding: 15px;
  background: #161f27;
  width: 870px;
  height: 350px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.butaoSalvar {
  all: unset;
  text-align: center;
  width: 880px;
  margin: 0 0 15px 0;
  font-family: 'Courier New', Courier, monospace;
  background: #0c151c;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.butaoSalvar:hover {
  background-color: #040a0f;
  cursor: pointer;
}
